@import 'tailwindcss';

form {
    .inputs_group {
        @apply mb-4;

        label {
            @apply my-2;
        }

        label.required {
            @apply after:content-['*'] after:ml-[0.2px] after:text-red-500 after:font-bold;
        }
    }

    .inputs_group_wrapper,
    .inputs_group_wrapper_3 {
        @apply md:grid md:gap-6 md:items-start;
    }

    .inputs_group_wrapper {
        @apply md:grid-cols-2;
    }

    .inputs_group_wrapper_3 {
        @apply md:grid-cols-3;
    }
}

.welcome_page {
    /* *{outline: 2px solid red} */

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    

    .video-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        display: block;
    }

    /* optional overlay */
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
        z-index: 1;
    }
}

button {
    cursor: pointer;
}
